nav{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   background-color: #9375ff;
}
body{
    margin: 0px;
}
.imgHeader{
  width:100%;
  height:auto;
  max-width:60%;
}
.img{
  width:100%;
  height:auto;
  max-width:30%;
  position: relative;
  left: 80px;
}
.links{
display: flex;
list-style: none;
gap: 5px;
padding-right:20px;

}
.links li a{
  text-decoration: none;
  color: white;  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}
#Div1{
    display:flex;
    align-items: center;
    justify-content:space-between;
    
}
#Div1 h4{
  font-size: 30px;
  color:#00a69c;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  left: 80px;
}
#Div1 p {
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  left: 80px;
}
#Div1 button{
color: #00a69c;
background-color: #fee552;
border-radius: 10px;
border-color:#fee552 ;
text-align: center;
padding: 10px 35px;
position: relative;
left: 100px;
font-size: 20px;

}

#Div2{
  display:flex;
  align-items: center;
  justify-content:space-between;
}
#Div2 h3{
  color:#00a69c;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  right: 80px;
}
#Div2 p{
  color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  right: 80px;
}
#Div2 li{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  right: 100px;
}

.text{
  text-align: center;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#00a69c;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
 display: flex;
 justify-content: space-evenly;
 padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color:white;
}
.cardBorder{
  border-radius: 50%;
  background:#fee552;
  width: 120px;
  padding: 20px;
}
.CardsBackgraound{
  background-color: #fee552;
}
